/Debug/

.cproject
.deps/
.gitignore
.project
.settings/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
conf/
config.h.in
config.log
config.status
configure
libtool
p_test
p_test.dSYM/
stamp-h1

*.hdf
*.out
*.o
*~

